<!DOCTYPE html>
<html{% if app.request.locale is defined and app.request.locale %} lang="{{ app.request.locale }}"{% endif %}>
	<head>
		{% block metas %}<meta charset="UTF-8">{% endblock %}
		<title>{% block title %}Welcome!{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
