{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
<section id="content">
	<h2><a href="{{ path('rapsys_air') }}">{{ section }}</a></h2>
	<p class="error">{% if message %}{{ message }}{% else %}{% trans %}Error{% endtrans %}{% endif %}</p>
	{% if app.environment == 'dev' and trace is defined %}<pre class="trace">{{ trace }}</pre>{% endif %}
</section>
{% endblock %}
