{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
	<section id="policy">
		<h2><a href="{{ path('rapsys_air_index') }}">{{ section }}</a></h2>
		{#XXX: use https://www.londonschool.com/level-scale/#}
		<section>
			<h3>Guest</h3>
			<section>
				<h4>Prerequisite</h4>
				<dl>
					<dt>Who</dt>
					<dd>Anyone</dd>
				</dl>
				<dl>
					<dt>Residence</dt>
					<dd>Anywhere</dt>
				</dl>
				<dl>
					<dt>Skill</dt>
					<dd>Elementary tango ballroom organisation</dd>
					<dd>Elementary tango music programming</dd>
					<dd>Elementary french communication</dd>
				</dl>
			</section>
			<section>
				<h4>Music</h4>
				<dl>
					<dt>Hardware</dt>
					<dd>Autonomous enclosure 200W RMS (Ibiza Sound Port 8 or supperior)</dd>
					<dd>Autonomous music player (with Bluetooth, Jack, MiniJack or RCA connectivity)</dd>
					<dd>Enclosure and music player with 4h of autonomy</dd>
					<dd>Required cable to connect both</dd>
					<dd>Talcum powder bottle</dd>
					<dd>Rope with strings</dd>
					<dd>Broom and/or squeegee depending on location</dd>
				</dl>
				<dl>
					<dt>Playlist</dt>
					<dd>Duration of 4h (or superior)</dd>
					<dd>Completely offline (neither deezer nor spotify)</dd>
					<dd>Cortina every 2 to 4 songs</dd>
					<dd>Mostly danceable songs</dd>
				</dl>
				<dl>
					<dt>Preparation</dt>
					<dd>Personnal rehearsal at home</dd>
					<dd>Personnal rehearsal outdoor</dd>
					<dd>Assit at location an organizer</dd>
					<dd>Attended once since start until end</dd>
				</dl>
			</section>
			<section>
				<h4>Locations</h4>
				<dl>
					<dt>Trocadéro</dt>
					<dd>Limited to once per season</dd>
					<dd>Limited to week day</dd>
					<dd>Since 20h30</dd>
					<dd>Until 00h30 minimum</dd>
				</dl>
				<dl>
					<dt>Opéra Garnier</dt>
					<dd>Limited to once per season</dd>
					<dd>Limited to week day</dd>
					<dd>Since 20h30</dd>
					<dd>Until 00h30 minimum</dd>
				</dl>
				<dl>
					<dt>Jardin Tino Rossy</dt>
					<dd>Limited to once per season</dd>
					<dd>Limited to week day</dd>
					<dd>Since 19h00</dd>
					<dd>Until 00h30 minimum</dd>
					<dd>Teach class the first hour</dd>
				</dl>
			</section>
		</section>
		<section>
			<h3>Regular</h3>
			<section>
				<h4>Prerequisite</h4>
				<dl>
					<dt>Who</dt>
					<dd>Anyone</dd>
				</dl>
				<dl>
					<dt>Residence</dt>
					<dd>Parisian region</dt>
				</dl>
				<dl>
					<dt>Skill</dt>
					<dd>Intermediate tango ballroom organisation</dd>
					<dd>Intermediate tango music programming</dd>
					<dd>Intermediate french communication</dd>
				</dl>
			</section>
			<section>
				<h4>Music</h4>
				<dl>
					<dt>Hardware</dt>
					<dd>Autonomous enclosure 200W RMS (Ibiza Sound Port 8 or supperior)</dd>
					<dd>Autonomous music player (with Bluetooth, Jack, MiniJack or RCA connectivity)</dd>
					<dd>Enclosure and music player with 6h of autonomy</dd>
					<dd>Required cable to connect both</dd>
					<dd>Backup battery</dd>
					<dd>Talcum powder bottle</dd>
					<dd>Rope with strings</dd>
					<dd>Broom and/or squeegee depending on location</dd>
				</dl>
				<dl>
					<dt>Playlist</dt>
					<dd>Duration of 6h (or superior)</dd>
					<dd>Completely offline (neither deezer nor spotify)</dd>
					<dd>Cortina every 2 to 4 songs</dd>
					<dd>Majority of danceable songs</dd>
				</dl>
				<dl>
					<dt>Preparation</dt>
					<dd>Personnal rehearsal at home</dd>
					<dd>Personnal rehearsal outdoor</dd>
					<dd>Assited or organized once at location</dd>
					<dd>Attended once since start until end</dd>
				</dl>
			</section>
			<section>
				<h4>Locations</h4>
				<dl>
					<dt>Trocadéro</dt>
					<dd>Since 20h30</dd>
					<dd>Until 00h30 minimum</dd>
					<dd>Until 01h30 minimum on friday and saturday</dd>
				</dl>
				<dl>
					<dt>Opéra Garnier</dt>
					<dd>Limited to week day</dd>
					<dd>Since 20h30</dd>
					<dd>Until 00h30 minimum</dd>
				</dl>
				<dl>
					<dt>Jardin Tino Rossy</dt>
					<dd>Since 14h00</dd>
					<dd>Until 19h00</dd>
				</dl>
				<dl>
					<dt>Jardin Tino Rossy</dt>
					<dd>Limited to week day</dd>
					<dd>Since 19h00</dd>
					<dd>Until 00h30 minimum</dd>
					<dd>Teach class the first hour</dd>
				</dl>
				<dl>
					<dt>Musée d'Orsay</dt>
					<dd>Since 20h00</dd>
					<dd>Until 00h30 maximum</dd>
				</dl>
				<dl>
					<dt>Palais de Tokyo</dt>
					<dd>Since 20h30</dd>
					<dd>Until 00h30 maximum</dd>
				</dl>
				<dl>
					<dt>Marché Saint-Honoré</dt>
					<dd>Limited to saturday and sunday</dd>
					<dd>Since 14h00</dd>
					<dd>Until 19h00</dd>
				</dl>
			</section>
		</section>
		<section>
			<h3>Senior</h3>
			<section>
				<h4>Prerequisite</h4>
				<dl>
					<dt>Who</dt>
					<dd>Anyone</dd>
				</dl>
				<dl>
					<dt>Residence</dt>
					<dd>Parisian region</dt>
				</dl>
				<dl>
					<dt>Skill</dt>
					<dd>Advanced tango ballroom organisation</dd>
					<dd>Advanced tango music programming</dd>
					<dd>Advanced french communication</dd>
				</dl>
			</section>
			<section>
				<h4>Music</h4>
				<dl>
					<dt>Hardware</dt>
					<dd>Autonomous enclosure 250W RMS (Ibiza Sound Port 10 or supperior)</dd>
					<dd>Autonomous music player (with Bluetooth, Jack, MiniJack or RCA connectivity)</dd>
					<dd>Enclosure and music player with 8h of autonomy</dd>
					<dd>Required cable to connect both</dd>
					<dd>Backup battery</dd>
					<dd>Talcum powder bottle</dd>
					<dd>Rope with strings</dd>
					<dd>Broom and/or squeegee depending on location</dd>
				</dl>
				<dl>
					<dt>Playlist</dt>
					<dd>Duration of 8h (or superior)</dd>
					<dd>Completely offline (neither deezer nor spotify)</dd>
					<dd>Cortina every 3 to 4 songs</dd>
					<dd>Only danceable songs</dd>
				</dl>
				<dl>
					<dt>Preparation</dt>
					<dd>Personnal rehearsal at home</dd>
					<dd>Personnal rehearsal outdoor</dd>
					<dd>Assited or organized once at location</dd>
					<dd>Attended once since start until end</dd>
				</dl>
			</section>
			<section>
				<h4>Locations</h4>
				<dl>
					<dt>Trocadéro</dt>
					<dd>Since 20h30</dd>
					<dd>Until 00h30 minimum</dd>
					<dd>Until 01h30 minimum on friday and saturday</dd>
				</dl>
				<dl>
					<dt>Opéra Garnier</dt>
					<dd>Since 20h30</dd>
					<dd>Until 00h30 minimum</dd>
					<dd>Until 01h30 minimum on friday and saturday</dd>
				</dl>
				<dl>
					<dt>Jardin Tino Rossy</dt>
					<dd>Since 14h00</dd>
					<dd>Until 19h00</dd>
				</dl>
				<dl>
					<dt>Jardin Tino Rossy</dt>
					<dd>Since 19h00</dd>
					<dd>Until 00h30 minimum</dd>
					<dd>Until 01h30 minimum on friday and saturday</dd>
					<dd>Teach class the first hour</dd>
				</dl>
				<dl>
					<dt>Musée d'Orsay</dt>
					<dd>Since 20h00</dd>
					<dd>Until 00h30 maximum</dd>
				</dl>
				<dl>
					<dt>Palais de Tokyo</dt>
					<dd>Since 20h30</dd>
					<dd>Until 00h30 maximum</dd>
					<dd>Until 01h30 minimum on friday and saturday</dd>
				</dl>
				<dl>
					<dt>Marché Saint-Honoré</dt>
					<dd>Limited to saturday and sunday</dd>
					<dd>Since 14h00</dd>
					<dd>Until 19h00</dd>
				</dl>
				<dl>
					<dt>Marché Saint-Honoré</dt>
					<dd>Limited to low volume</dd>
					<dd>Since 19h00</dd>
					<dd>Until 00h00</dd>
				</dl>
			</section>
		</section>
	</section>
{% endblock %}
