{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
	<section id="dashboard">
		<header>
			<h2><a href="{{ path('rapsys_air_terms_of_service') }}">{{ page.title }}</a></h2>
			<p>{{ page.description }}</p>
		</header>
		<nav>
			<strong>{% trans %}Table of contents{% endtrans %}</strong>
			<ul>
				<li><a href="#preamble">{% trans %}Preamble{% endtrans %}</a></li>
				<li><a href="#article1">Article 1 : Présentation</a></li>
				<li>
					<a href="#article2">Article 2 : Accès, disponibilité et utilisation</a>
					<ul>
						<li><a href="#article2_1">Article 2.1 : Accès</a></li>
						<li><a href="#article2_2">Article 2.2 : Disponibilité</a></li>
						<li><a href="#article2_3">Article 2.3 : Utilisation</a></li>
						<li><a href="#article2_4">Article 2.4 : Dates d'accessibilité</a></li>
						<li><a href="#article2_5">Article 2.5 : Configuration minimale requise</a></li>
					</ul>
				</li>
				<li><a href="#article3">Article 3 : Connexion</a></li>
				<li><a href="#article4">Article 4 : Exclusion du site par le Responsable</a></li>
				<li><a href="#article5">Article 5 : Procédure d'alerte et signalement d'abus</a></li>
				<li><a href="#article6">Article 6 : Liens hypertexte</a></li>
				<li><a href="#article7">Article 7 : Modification du site et des services</a></li>
				<li><a href="#article8">Article 8 : Propriété intellectuelle</a></li>
				<li><a href="#article9">Article 9 : Responsabilité</a></li>
				<li><a href="#article10">Article 10 : Durée</a></li>
				<li><a href="#article11">Article 11 : Droit applicable et juridiction compétente</a></li>
			</ul>
		</nav>
		<section>
			<h3 id="preamble">{% trans %}Preamble{% endtrans %}</h3>
			<p>Préalablement à la visite du site <a href="//airlibre.eu/" title="Air Libre">airlibre.eu</a> (ci-après dénommé « le Site ») et de l'utilisation des services qui y sont proposés, il convient de procéder à la lecture des conditions générales d'utilisations ci-dessous exposées.</p>
			<p>Ces conditions générales ont pour objet de définir les modalités de mise à disposition du service de réservation d'espace en plein air, du service d'affichage, du service d'attribution, des services connexes sur le Site et les conditions d'utilisation de ces derniers par l'utilisateur. Tout accès au Site ou toute utilisation de ces services suppose le respect préalable de l'ensemble des dispositions ci-dessous ainsi que leur acceptation inconditionnelle.</p>
			<p>Les conditions générales d'utilisation pourront être modifiées en début d'année, début d'été et fin d'été par la personne en charge du Site, ci-après dénommé « le Responsable », après consultation des utilisateurs et référendum pour toute modification substantielle.</p>
			<p>Les conditions générales d'utilisation pourront être modifiées par le Responsable du Site, en cas d'urgence impérieuse, à tout moment et unilatéralement.</p>
			<p>Dans la mesure où l'utilisateur ne souhaite pas accepter tout ou partie des présentes conditions générales, il lui est demandé de renoncer à tout usage du service.</p>
			<p>Le préambule fait partie des conditions générales d'utilisation.</p>
		</section>
		<section>
			<h3 id="article1">Article 1 : Présentation</h3>
			<p>Le service d'affichage du Site est ouvert à toute personne souhaitant consulter les séances de Tango Argentin attribuées à un organisateur sur les espaces de danse public, ci-après « le Service Affichage ».</p>
			<p>Le service réservation du Site est ouvert à toute personne ayant la volonté d'assurer une séance de Tango Argentin sur un espace de danse en public tant au niveau artistique, logistique, réglementaire et sans exclure l'aspect sécurité, ci-après « le Service Réservation ».</p>
			<p>Le service d'attribution du Site assure une répartition équitable entre les différents organisateurs des séances sur un créneau et un lieu, ci-après « le Service Attribution ».</p>
			<p>Les services connexes sont mis à disposition pour améliorer l'expérience utilisateur du Site.</p>
		</section>
		<section>
			<h3 id="article2">Article 2 : Accès, disponibilité et utilisation</h3>
			<section>
				<h4 id="article2_1">Article 2.1 : Accès</h4>
				<p>Le Site est accessible gratuitement, via le réseau Internet, à toute personne souhaitant consulter le service d'affichage d'affichage des réservations, ci-après dénommée « l'Utilisateur ».</p>
				<p>Le Site est accessible contre participation aux frais de fonctionnement annuels, via le réseau Internet, à toute personne souhaitant utiliser le service de réservation, ci-après dénommée « l'Organisateur ».</p>
				<p>Le Responsable ne peut être tenu responsable des dysfonctionnements du réseau et des serveurs ainsi que des événements échappant au contrôle raisonnable qui empêcheraient ou dégraderaient l'accès au service.</p>
				<p>Néanmoins, le Responsable se réserve le droit, pour des raisons de maintenance, de compléter, changer ou effacer tous les contenus du Site.</p>
			</section>
			<section>
				<h4 id="article2_2">Article 2.2 : Disponibilité</h4>
				<p>Le Responsable propose un service disponible 7 jours sur 7 et 24 heures sur 24.</p>
				<p>Le Responsable pourra cependant et à tout moment suspendre, interrompre ou annuler la mise à disposition du service auprès des utilisateurs sans que sa responsabilité ne puisse être engagée dans les cas suivants :</p>
				<ul>
					<li>défaillance de l'hébergeur du Site,</li>
					<li>indisponibilité momentanée des fonctions du site résultant notamment d'opérations de maintenance, de mise à niveau,</li>
					<li>pour toute autre raison technique, cas de force majeure ou d'événement hors du contrôle du responsable,</li>
					<li>d'une mauvaise utilisation du service par l'Utilisateur ou l'Organisateur, celui-ci restant seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. A cet effet, l'Utilisateur ou l'Organisateur renonce à exercer tout recourt contre le Responsable en cas de poursuite par un tiers à son encontre du fait d'une mauvaise utilisation du service.</li>
				</ul>
			</section>
			<section>
				<h4 id="article2_3">Article 2.3 : Utilisation</h4>
				<p>L'utilisation du service suppose que l'Utilisateur :</p>
				<ul>
					<li>possède un accès Internet dont les coûts éventuels sont à sa charge, ainsi que le matériel et logiciel requis ;</li>
					<li>adhère aux présentes conditions générales d'utilisation.</li>
				</ul>
				<p>L'utilisation du service suppose que l'Organisateur :</p>
				<ul>
					<li>verse sa participation aux frais de fonctionnement du Site au Responsable ;</li>
					<li>possède un accès Internet dont les coûts éventuels sont à sa charge, ainsi que le matériel et logiciel requis ;</li>
					<li>adhère aux présentes conditions générales d'utilisation.</li>
				</ul>
				<p>Le responsable se réserve le droit de restreindre l'accès au Site unilatéralement et sans notification préalable à l'Utilisateur ou l'Organisateur qui ne respecte pas les présentes conditions générales d'utilisation.</p>
				<p>L'Utilisateur ou l'Organisateur s'engage à utiliser le Service conformément au droit en vigueur et à respecter les droits de propriété intellectuelle du Responsable et de ses partenaires.</p>
				<p>L'utilisation commerciale du site est strictement interdite. L'Utilisateur ou l'Organisateur n'a notamment pas le droit de :</p>
				<ul>
					<li>enregistrer, télécharger, dupliquer, reproduire, distribuer les données, enregistrements, programmes, produits et services proposés par le Responsable ;</li>
					<li>d'utiliser les logos et/ou marques du Responsable et/ou de ses partenaires ;</li>
					<li>de se rémunérer au moyen de messages publicitaires, de promotions, de parrainages ;</li>
					<li>de diriger les internautes directement ou indirectement vers d'autres sites Internet qui sont susceptibles de ne pas respecter la législation applicable ainsi que le présent règlement.</li>
				</ul>
			</section>
			<section>
				<h4 id="article2_4">Article 2.4 : Dates d'accessibilité</h4>
				<p>Le service sera accessible aux Utilisateurs à partir du 1 janvier 2021 et ce pour une durée de 12 (douze) mois, soit jusqu'au 31 décembre 2021 à 23h59m59s, renouvelable par tacite reconduction.</p>
				<p>Le service sera accessible aux Organisateurs à partir du 1 janvier 2021, après réception de leur participation aux frais de fonctionnement et ce pour une durée de 12 (douze) mois, soit jusqu'au 31 décembre 2021 à 23h59m59s, renouvelable par tacite reconduction sur participation aux frais de fonctionnement pour la nouvelle période.</p>
			</section>
			<section>
				<h4 id="article2_5">Article 2.5 : Configuration minimale requise</h4>
				<p>Un ordinateur PC ou MAC ayant une connexion internet et un navigateur :</p>
				<ul>
					<li>Chrome 86 ;</li>
					<li>Firefox 81 ;</li>
					<li>Safari 13 ;</li>
				</ul>
				<p>ou un smartphone ou tablette sous Android (version 7 & 8) ou iOS (version 12 & 13).</p>
			</section>
		</section>
		<section>
			<h3 id="article3">Article 3 : Connexion</h3>
			<p>Pour se connecter à la plateforme, l'Utilisateur ou l'Organisateur devra se rendre sur le Site <a href="//airlibre.eu/" title="Air Libre">airlibre.eu</a>.</p>
			<p>Pour réserver l'Organisateur devra accepter le cookie technique nécessaire aux services connectés puis s'identifier à l'aide de son adresse de courriel et de son mot de passe personnel.</p>
		</section>
		<section>
			<h3 id="article4">Article 4 : Exclusion du site par le Responsable</h3>
			<p>Le responsable se réserve le droit de procéder au blocage définitif de tout accès au Site à l'encontre de tout Utilisateur ou Organisateur qui contreviendrait aux présentes conditions générales d'utilisation et notamment qui :</p>
			<ul>
				<li>se livrerait à une tentative et/ou à un acte de contournement des mesures techniques de protection des différents services ;</li>
				<li>utiliserait de façon abusive les services du Site et notamment de façon non conforme aux conditions générales d'utilisation.</li>
			</ul>
		</section>
		<section>
			<h3 id="article5">Article 5 : Procédure d'alerte et signalement d'abus</h3>
			<p>Les Utilisateurs sont invités à signaler au Responsable, dans le cadre de la procédure d'alerte ci-dessous décrite, toute utilisation frauduleuse du Site dont il aurait connaissance et notamment tout message dont le contenu contreviendrait aux présentes conditions générales d'utilisation ou plus généralement aux lois et dispositions réglementaires en vigueur.</p>
			<p>De même, toute personne estimant qu'il y a violation sur le Site d'un droit dont il serait titulaire a la possibilité de le signaler au Responsable (conformément à l'article 6-1-5 de la loi du 21 juin 2004 n°2004-575) par le formulaire de contact, précisant l'ensemble des informations suivantes :</p>
			<ul>
				<li>l'identité du notifiant : s'il s'agit d'une personne physique : nom, prénom, date de naissance, nationalité, domicile et profession. S'il s'agit d'une personne morale : sa forme, sa dénomination sociale, son siège social et l'organe qui la représente légalement ;</li>
				<li>la description des faits litigieux et leur localisation précise sur le Site ;</li>
				<li>les motifs pour lesquels le contenu doit être retiré comprenant la mention des dispositions légales applicables.</li>
			</ul>
		</section>
		<section>
			<h3 id="article6">Article 6 : Liens hypertexte</h3>
			<p>Le Site propose des liens hypertextes vers des sites Internet édités et/ou gérés par des tiers sans que sa responsabilité ne puisse toutefois être engagée à quelque titre que ce soit en raison de leur contenu et notamment des publicités, produits, services et/ou tout autre matériel disponible sur et à partir de ces sites tiers.</p>
		</section>
		<section>
			<h3 id="article7">Article 7 : Modification du site et des services</h3>
			<p>Le Responsable se réserve le droit de faire évoluer le service notamment par la mise à disposition de nouvelles fonctionnalités ou par la modification et/ou la suppression de fonctionnalités à ce jour proposées à l'utilisateur à partir du Site.</p>
		</section>
		<section>
			<h3 id="article8">Article 8 : Propriété intellectuelle</h3>
			<p>Le Responsable est propriétaire exclusif des droits de propriété intellectuelle sur le Site aussi bien sur sa structure que sur son contenu. Toute reproduction, représentation, modification ou exploitation qu'elles soient intégrales ou partielles, de quelque façon que ce soit et à quelque fin que ce soit, faites sans le consentement du Responsable est illicite et constitue une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la propriété intellectuelle.</p>
			<p>Les marques du Responsable et des partenaires du Responsable ainsi que les logos figurant sur le site sont des marques déposées. Toute reproduction totale ou partielle de ces marques ou de ces logos, sans le consentement du Responsable ou de ses partenaires est prohibée.</p>
		</section>
		<section>
			<h3 id="article9">Article 9 : Responsabilité</h3>
			<p>Le Responsable ne saurait être tenu pour responsable vis-à-vis de l'Utilisateur ou de l'Organisateur des conséquences liées à l'utilisation du contenu ou de tout autre élément du service et notamment :</p>
			<ul>
				<li>en cas d'utilisation illégale et contrevenante par les Utilisateurs ou Organisateurs des œuvres de l'esprit reproduites sur le Site ;</li>
				<li>en cas d'interruption de service du site motivée par des opérations de maintenance ou par les comportements des Utilisateurs ou des Organisateurs du Site ;</li>
				<li>en cas d'inaccessibilité et/ou en cas d'incapacité à utiliser le Site par tout Utilisateur ou Organisateur ;</li>
				<li>en cas de dommage d'équipements de toute forme que ce soit, de pertes de données, lors d'une connexion sur le Site ;</li>
				<li>en cas d'incident découlant de la transmission des données fournies par l'Utilisateur ou l'Organisateur via le réseau Internet ;</li>
				<li>en cas d'utilisation des services de façon non conforme aux présentes.</li>
			</ul>
			<p>L'Utilisateur et l'Organisateur reconnaît que les transmissions de données sur Internet ne bénéficient que d'une fiabilité technique relative, celles-ci circulant sur des réseaux hétérogènes aux caractéristiques et capacités techniques diverses, qui sont parfois saturés à certaines périodes de la journée.</p>
			<p>L'Utilisateur et l'Organisateur reconnaît en particulier avoir connaissance de la nature du réseau Internet et de ses performances techniques ainsi que de la possibilité d'interruptions, lenteurs et inaccessibilités au Service.</p>
			<p>En conséquence, en l'absence de faute de leur part, le Responsable ne peut en aucun cas être tenue pour responsable :</p>
			<ul>
				<li>des vitesses d'accès au Service depuis d'autres sites ;</li>
				<li>des vitesses d'ouverture et de consultation des pages du Site ;</li>
				<li>de ralentissements externes ;</li>
				<li>de la suspension ou de l'inaccessibilité des Services ;</li>
				<li>des opérations de mise à jour et des indisponibilités temporaires de tout ou partie du Site ;</li>
				<li>de l'utilisation frauduleuse par des tiers de toutes les informations mises à disposition sur le Site et ce notamment compte tenu de la complexité des réseaux mondiaux, de l'inégalité des capacités des différents sous-réseaux, de l'afflux à certaines heures des utilisateurs, des différents « goulots d'étranglement » à certains endroits de l'Internet.</li>
			</ul>
			<p>De plus, le Responsable se réserve le droit d'interrompre de façon exceptionnelle la mise à disposition du Site pour effectuer des travaux de maintenance, d'amélioration, d'entretien, de renforcement, de réaménagement ou d'extension des installations de son réseau.</p>
			<p>En l'absence de faute du Responsable, ce dernier ne saurait être tenu responsable de tout dysfonctionnement, toute perte ou toute détérioration pouvant endommager le matériel de l'Utilisateur et de tout internaute.</p>
			<p>Il incombe à l'Utilisateur et à l'Organisateur de protéger leurs équipements techniques notamment contre toute forme de contamination par des virus et/ou de tentative d'intrusion, en l'absence de faute de sa part, le Responsable ne pouvant en aucun cas en être tenu pour responsable.</p>
			<p>L'Utilisateur ou l'Organisateur est seul responsable de l'installation, de l'exploitation et de la maintenance de ses équipements techniques, informatiques, téléphoniques nécessaires pour accéder au Service du Site.</p>
			<p>En l'absence de faute de sa part, le Responsable ne pourra être tenu responsable si le Service proposé par le Site s'avère incompatible ou présente des dysfonctionnements avec certains logiciels, configurations, systèmes d'exploitation ou équipements de l'Utilisateur ou l'Organisateur.</p>
		</section>
		<section>
			<h3 id="article10">Article 10 : Durée</h3>
			<p>Les présentes conditions générales d'utilisation ont vocation à s'appliquer pendant toute la durée d'accessibilité au Service soit à partir du 1er janvier 2021 et ce pour une durée de 12 (douze) mois, soit jusqu'au 31 décembre 2021 à 23h59m59s, renouvelable par tacite reconduction.</p>
		</section>
		<section>
			<h3 id="article11">Article 11 : Droit applicable et juridiction compétente</h3>
			<p>L'intégralité des dispositions des présentes conditions générales d'utilisation est régie par le droit français.</p>
			<p>Les parties s'efforceront de résoudre à l'amiable tout litige qui surviendrait à l'occasion de l'exécution des présentes. En cas de désaccord définitif, les Tribunaux de Paris seront seuls compétents.</p>
		</section>
	</section>
{% endblock %}
