{% extends '@RapsysAir/base.html.twig' %}
{% block content %}
<section id="content">
	<h2><a href="{{ path('rapsys_air_homepage') }}">{{ section }}</a></h2>
	<p>{% trans %}Outdoor space reservation system{% endtrans %}</p>
</section>
{% endblock %}
