@font-face {
	font-family: 'Irish Grover';
	font-style: normal;
	font-weight: 400;
	src: local('Irish Grover Regular'), local('IrishGrover-Regular'), url(/bundles/rapsysair/ttf/irishgrover.v10.ttf) format('truetype');
}
